#cookie {
  #cb-cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
    display: none;

    button {
      padding: 0.1rem 0.3rem;
      margin: 0;

      box-shadow: none;
    }
  }


}