// 
// About
// 

.about-section {
    padding-top: 10rem;

    @media (min-width: 601px) {
        background: linear-gradient(to bottom,
                $black 0%,
                #{fade-out($black, 0.5)} 75%,
                #{fade-out($black, 0.35)} 100%
        ),
        url("../assets/img/d/wlasciciel-inspekcja-skory-cropped-light-2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    @media (max-width: 600px) {
        background: linear-gradient(to bottom,
                $black 0%,
                #{fade-out($black, 0.3)} 75%,
                #{fade-out($black, 0.4)} 100%
        ),
        url("../assets/img/d/wlasciciel-inspekcja-skory-cropped-mobile-light-2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    p {
        margin-bottom: 5rem;
    }

    .main_image {
        opacity: 0;
    }
}