// 
// Masthead
// 

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;

    @media (min-width: 601px) {
        background: linear-gradient(to bottom,
                #{fade-out($black, 0.7)} 0%,
                #{fade-out($black, 0.3)} 75%,
                $black 100%),
        url("../assets/img/d/skora-skladanie-light.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    @media (max-width: 600px) {
        background: linear-gradient(to bottom,
                #{fade-out($black, 0.5)} 0%,
                #{fade-out($black, 0.3)} 75%,
                $black 100%),
        url("../assets/img/d/skora-skladanie-mobile-cropped-one-dry-only-light.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }


    h1 {
        font-family: $font-family-special;
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.8rem;
        background: linear-gradient(fade-out($white, 0.1), fade-out($white, 0.5));
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    h2 {
        max-width: 20rem;
        font-size: 1rem;
    }

    h3 {
        max-width: 20rem;
        font-size: 0.75rem;
    }

    @include media-breakpoint-up(md) {
        h1 {
            font-size: 4rem;
            line-height: 4rem;
        }
    }

    @include media-breakpoint-up(lg) {
        height: 100vh;
        padding: 0;

        h1 {
            font-size: 6.5rem;
            line-height: 6.5rem;
            letter-spacing: 0.8rem;
        }

        h2 {
            max-width: 30rem;
            font-size: 1.25rem;
        }
    }
}