// 
// Signup
// 

.signup-section {
    padding: 20rem 0 0 0;
    background: linear-gradient(to bottom,
        #{fade-out($black, 0.5)} 0%,
        #{fade-out($black, 0.3)} 75%,
        $black 100%),
    url("../assets/img/d/skora-suszenie-cropped-light.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    .google-map-address {
        width: 100%;
        height: 100%;
        min-height: 350px;
    }

    .google-form-contact-request {
        width: 100%;
        height: 100%;
        min-height: 20rem;
    }

    .form-signup {
        input {
            box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
            padding: 1.25rem 2rem;
            height: auto;
            font-family: $font-family-special;
            font-size: 80%;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            border: 0;
        }
    }
}