PUG
- var selectedLanguage = "PL";

- var language = "pl";
- var languageCapital = "PL";

-
    var pageHead = {
        title: "Zakład Garbarski w Radomiu",
        meta: {
            title: "Zakład Garbarski",
            description: "Rodzinny Zakład Garbarski działający na rynku od 1966 roku",
            keywords: "skóra, garbarnia, zakład garbarski, biznes rodzinny, buty, obuwie, Radom, galanteria"
        }
    }

    var mainNav = {
        aboutUs: "O Nas",
        description: "Opis",
        concat: "Kontakt"
    }

    var masthead = {
        title: "GARBARNIA",
        founderNames: "Adamczak i Kucharczyk",
        location: "w Radomiu",
        aboutUs: "O Nas"
    }

    var about = {
        title: "Rodzinny Zakład Garbarski",
        description: "Jesteśmy firmą rodzinną działająca na rynku od 1966 roku. " +
                "Produkujemy skórę z przeznaczeniem na obuwie i galanterię. " +
                "Są to skóry  bydlęce typu nappa, nubuk, crazy. " +
                "Wielokrotnie zdobywaliśmy medale na Międzynarodowych Targach Poznańskich."
    }

    var description = {
        main: {
            title: "Najlepsi",
            description: "Jesteśmy liderem jakości w naszej branży, tworzymy wysoko jakościową skórę, " +
                    "która regularnie zdobywa wysokie certyfikaty jakości."
        },
        section1: { title: "Duży wybór", description: "Produkujemy skóry: bydlęce, cielęce, świńskie." },
        section2: { title: "Złoty Medal", description: "Nasze skóry zawsze są doceniane wśród klientów." },
        section3: {
            title: "Produkt końcowy",
            description: "Nasi klienci to producenci: odzieży, obuwia i galanterii."
        },
        section4: {
            title: "Wysoka jakość produkcji",
            description: "Wykorzystujemy sprawdzone środki chemiczne firm: BASF,\u00A0STAHL,\u00A0KEMIA\u00A0TAU."
        },
        section5: {
            title: "Garbarstwo mamy we krwi",
            description: "Od pokoleń prowadzimy garbarnię w Radomiu."
        }
    }

    var contact = {
        address: {
            title: "Adres",
            address: "ul. Trzebińskiego 8, 26-600 Radom",
            formality: "NIP:\u00A07961755252"
        },
        email: {
            title: "Email",
            email1: "hadamczak@poczta.onet.pl",
            email2: "andkuc@onet.pl"
        },
        phone: {
            title: "Telefon",
            fax: "tel./fax: +48 345 14 29",
            phone1: "kom: +48 603 055 367",
            phone2: "kom: +48 606 468 808"
        }
    }

    var cookie = {
        title: "Ta strona korzysta z ciasteczek. Dalsze korzystanie ze strony oznacza, że zgadzasz się na ich użycie",
        more_button: "Więcej",
        accept_button: "Rozumiem",
        on_page_title: "Polityka prywatności"
    }