PUG
- var selectedLanguage = "UA";

- var language = "ua";
- var languageCapital = "UA";

-
    var pageHead = {
        title: "Фабрика Шкіри у Радомі",
        meta: {
            title: "Фабрика Шкіри",
            description: "Сімейна Фабрика Шкіри заснована у 1966 року",
            keywords: "шкіра, фабрика шкіри, серовена, шкіряне взуття, Радом"
        }
    }

    var mainNav = {
        aboutUs: "Про нас",
        description: "Опис",
        concat: "Контакти"
    }

    var masthead = {
        title: "Фабрика Шкіри",
        founderNames: "Adamczak i Kucharczyk",
        location: "у Радомі",
        aboutUs: "Про нас"
    }

    var about = {
        title: "Сімейна Фабрика Шкіри",
        description: "Ми являємося родинною фірмою заснованою у 1966 році. " +
                "Нашою основною діяльністю є виготовлення якісної шкіряної сировени для подальшої її використання " +
                "у виготовленні шкіряного взуття, курток та меблі. " +
                "У нашому процессі використовуємо коров'ячі та свиняні шкіри типу nappa, нубук, crazy. " +
                "Ми багаторазово здобували медалі у Міжнародних Познаньських Торгах."
    }

    var description = {
        main: {
            title: "Найкращі",
            description: "Ми являємося лідером у нашій бранжі, ми створюємо високоякісну шкірю " +
                    "котра регулярно здобуває високі сертифікати якості."
        },
        section1: { title: "Великій вибір", description: "Продокуємо шкіри: коров'ячі, телятині, свиняні." },
        section2: { title: "Золотий Медаль", description: "Вироюники завше доцінюють наші шкіри." },
        section3: {
            title: "Кінцевий продукт",
            description: "Наші клієнти це виробники: одежі, взуття і галантерії."
        },
        section4: {
            title: "Висока якість продукції",
            description: "Використовуємо перевірені хімічні речовини фірм: BASF,\u00A0STAHL,\u00A0KEMIA\u00A0TAU."
        },
        section5: {
            title: "Виробниство шкіри у нашій крові",
            description: "Від поколінь виготовляємо шкірю у нашій фабриці у Радомі."
        }
    }

    var contact = {
        address: {
            title: "Адрес",
            address: "ul. Trzebińskiego 8, 26-600 Radom",
            formality: "NIP:\u00A07961755252"
        },
        email: {
            title: "Email",
            email1: "hadamczak@poczta.onet.pl",
            email2: "andkuc@onet.pl"
        },
        phone: {
            title: "Телефони",
            fax: "тел./fax: +48 345 14 29",
            phone1: "моб: +48 603 055 367",
            phone2: "моб: +48 606 468 808"
        }
    }

    var cookie = {
        title: "Цей сайт використовує файли cookie. Продовження користування означає згоду на використання cookie.",
        more_button: "Більше",
        accept_button: "ОК",
        on_page_title: "Умови користування"
    }