PUG
- var selectedLanguage = "EN";

- var language = "en";
- var languageCapital = "EN";

-
    var pageHead = {
        title: "Tannery in Radom",
        meta: {
            title: "Tannery",
            description: "Family business active on the market since 1966",
            keywords: "leather, tannery, tanning plant, family business, shoes, footwear, Radom, haberdashery"
        }
    }

    var mainNav = {
        aboutUs: "About us",
        description: "Description",
        concat: "Contact"
    }

    var masthead = {
        title: "TANNERY",
        founderNames: "Adamczak and Kucharczyk",
        location: "in Radom",
        aboutUs: "About us"
    }

    var about = {
        title: "Family Tannery Business",
        description: "Our family business has operated on the market since 1966. " +
                "We produce leather for footwear and haberdashery. " +
                "These are leathers: nappa, nubuk, crazy. Our company was rewarded at the international fairs in Poznań."
    }

    var description = {
        main: {
            title: "The best",
            description: "We are a leader in the tanning industry. " +
                    "We are offering high quality leather, which is confirmed by certificates."
        },
        section1: { title: "Wide choice", description: "We produce: cattle leather, calf leather, pigskin leather." },
        section2: { title: "Gold Medal", description: "Our leathers are appreciated by customers." },
        section3: {
            title: "Final product",
            description: "Our clients are producers of: garments, footwear, leather goods."
        },
        section4: {
            title: "High quality production",
            description: "We use only checked chemicals from: BASF,\u00A0STAHL,\u00A0KEMIA\u00A0TAU."
        },
        section5: {
            title: "Tanning is in our blood",
            description: "We have been running a tannery in Radom for generations."
        }
    }

    var contact = {
        address: {
            title: "Address",
            address: "ul. Trzebińskiego 8, 26-600 Radom",
            formality: "Tax number:\u00A07961755252"
        },
        email: {
            title: "Email",
            email1: "hadamczak@poczta.onet.pl",
            email2: "andkuc@onet.pl"
        },
        phone: {
            title: "Phone number",
            fax: "Phone/fax: +48 345 14 29",
            phone1: "Mobile Phone: +48 603 055 367",
            phone2: "Mobile Phone: +48 606 468 808"
        }
    }

    var cookie = {
        title: "This website uses cookies. By continuing to use the site, you agree to their use.",
        more_button: "Read more",
        accept_button: "I understand",
        on_page_title: "Privacy policy"
    }